#container{
    display: flex;
    flex-direction: column;    
    text-align: center;
}
#sidebar{
display: flex;
margin-bottom: 100px;
justify-content: center;
align-items: center;
font-size:40px;
height: 600px;
font-weight:100;
background-image: url("https://images.unsplash.com/photo-1644030798947-8eb6bb2e185f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80");
background-size: cover;

color: white;
}
#main{
display: grid;
grid-template-columns: repeat(2,1fr);
grid-gap: 30px;
}
#main>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#main img{
    width: 100%;

}
#sidebar>div,input{
    margin: 0% 2%;
    padding: 10px;
    text-align: center;
}